Repository alexkappa/terraform-provider-auth0, changes with the labels that .github/labeler.yml gives for each.
All labels: resource/auth0_client, resource/auth0_client_grant, resource/auth0_connection, resource/auth0_custom_domain, resource/auth0_email, resource/auth0_email_template, resource/auth0_resource_server, resource/auth0_role, resource/auth0_rule, resource/auth0_rule_config, resource/auth0_tenant, resource/auth0_user

.github/labeler.yml:

resource/auth0_client:
  - '**/*client.go'
  - '**/*client_test.go'

resource/auth0_client_grant:
  - '**/*client_grant.go'
  - '**/*client_grant_test.go'

resource/auth0_connection:
  - '**/*connection.go'
  - '**/*connection_test.go'

resource/auth0_custom_domain:
  - '**/*custom_domain.go'
  - '**/*custom_domain_test.go'

resource/auth0_email:
  - '**/*email.go'
  - '**/*email_test.go'

resource/auth0_email_template:
  - '**/*email_template.go'
  - '**/*email_template_test.go'

resource/auth0_resource_server:
  - '**/*resource_server.go'
  - '**/*resource_server_test.go'

resource/auth0_role:
  - '**/*role.go'
  - '**/*role_test.go'

resource/auth0_rule:
  - '**/*rule.go'
  - '**/*rule_test.go'

resource/auth0_rule_config:
  - '**/*rule_config.go'
  - '**/*rule_config_test.go'

resource/auth0_tenant:
  - '**/*tenant.go'
  - '**/*tenant_test.go'

resource/auth0_user:
  - '**/*user.go'
  - '**/*user_test.go'

change preserve label to keep issues open
  .github/workflows/stale.yml
Labels: none

change preserve label to keep issues open
  .github/workflows/stale.yml
Labels: none

upgrade to auth0.v2 and fix email templates
  GNUmakefile
  auth0/provider.go
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_grant.go
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_custom_domain.go
  auth0/resource_auth0_email.go
  auth0/resource_auth0_email_template.go
  auth0/resource_auth0_resource_server.go
  auth0/resource_auth0_role.go
  auth0/resource_auth0_rule.go
  auth0/resource_auth0_rule_config.go
  auth0/resource_auth0_tenant.go
  auth0/resource_auth0_user.go
  auth0/resource_data.go
  example/email_template/main.tf
  go.mod
  go.sum
Labels: resource/auth0_client, resource/auth0_client_grant, resource/auth0_connection, resource/auth0_custom_domain, resource/auth0_email, resource/auth0_email_template, resource/auth0_resource_server, resource/auth0_role, resource/auth0_rule, resource/auth0_rule_config, resource/auth0_tenant, resource/auth0_user

upgrade to auth0.v2 and fix email templates
  GNUmakefile
  auth0/provider.go
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_grant.go
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_custom_domain.go
  auth0/resource_auth0_email.go
  auth0/resource_auth0_email_template.go
  auth0/resource_auth0_resource_server.go
  auth0/resource_auth0_role.go
  auth0/resource_auth0_rule.go
  auth0/resource_auth0_rule_config.go
  auth0/resource_auth0_tenant.go
  auth0/resource_auth0_user.go
  auth0/resource_data.go
  example/email_template/main.tf
  go.mod
  go.sum
Labels: resource/auth0_client, resource/auth0_client_grant, resource/auth0_connection, resource/auth0_custom_domain, resource/auth0_email, resource/auth0_email_template, resource/auth0_resource_server, resource/auth0_role, resource/auth0_rule, resource/auth0_rule_config, resource/auth0_tenant, resource/auth0_user

cosmetic changes to makefile
  GNUmakefile
Labels: none

cosmetic changes to makefile
  GNUmakefile
Labels: none

return readUser after createUser
  auth0/resource_auth0_user.go
Labels: resource/auth0_user

return readUser after createUser
  auth0/resource_auth0_user.go
Labels: resource/auth0_user

fix user test
  auth0/resource_auth0_user_test.go
Labels: resource/auth0_user

fix user test
  auth0/resource_auth0_user_test.go
Labels: resource/auth0_user

Rename labeller step
  .github/workflows/labeler.yml
Labels: none

Rename labeller step
  .github/workflows/labeler.yml
Labels: none

update changelog
  CHANGELOG.md
  scripts/changelog-links.sh
Labels: none

update changelog
  CHANGELOG.md
  scripts/changelog-links.sh
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

improve on bishtawi's work
  auth0/resource_auth0_tenant.go
  auth0/resource_auth0_tenant_test.go
Labels: resource/auth0_tenant

improve on bishtawi's work
  auth0/resource_auth0_tenant.go
  auth0/resource_auth0_tenant_test.go
Labels: resource/auth0_tenant

update changelog
  CHANGELOG.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

Fix Connection's password_dictionary
  auth0/resource_auth0_connection.go
Labels: resource/auth0_connection

Oops
  auth0/resource_auth0_connection.go
Labels: resource/auth0_connection

Fix
  auth0/resource_auth0_connection.go
Labels: resource/auth0_connection

Oops
  auth0/resource_auth0_connection.go
Labels: resource/auth0_connection

Fix Connection's password_dictionary
  auth0/resource_auth0_connection.go
Labels: resource/auth0_connection

Fix
  auth0/resource_auth0_connection.go
Labels: resource/auth0_connection

tested password_dictionary
  auth0/resource_auth0_connection_test.go
Labels: resource/auth0_connection

tested password_dictionary
  auth0/resource_auth0_connection_test.go
Labels: resource/auth0_connection

make provider debug tests more concise
  auth0/provider.go
  auth0/provider_test.go
Labels: none

make provider debug tests more concise
  auth0/provider.go
  auth0/provider_test.go
Labels: none

fix signing_secret
  auth0/resource_auth0_resource_server.go
  auth0/resource_auth0_resource_server_test.go
Labels: resource/auth0_resource_server

fix signing_secret
  auth0/resource_auth0_resource_server.go
  auth0/resource_auth0_resource_server_test.go
Labels: resource/auth0_resource_server

make resource_server.identifier a force new op
  auth0/resource_auth0_resource_server.go
Labels: resource/auth0_resource_server

make resource_server.identifier a force new op
  auth0/resource_auth0_resource_server.go
Labels: resource/auth0_resource_server

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

fix nil value
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_test.go
  auth0/resource_data.go
Labels: resource/auth0_client

fix nil value
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_test.go
  auth0/resource_data.go
Labels: resource/auth0_client
