Repository alexkappa/terraform-provider-auth0, pull requests merged in 2019-12, with the labels that each got.

#144 upgrade to auth0.v2 and fix email templates
  GNUmakefile
  auth0/provider.go
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_grant.go
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_custom_domain.go
  auth0/resource_auth0_email.go
  auth0/resource_auth0_email_template.go
  auth0/resource_auth0_resource_server.go
  auth0/resource_auth0_role.go
  auth0/resource_auth0_rule.go
  auth0/resource_auth0_rule_config.go
  auth0/resource_auth0_tenant.go
  auth0/resource_auth0_user.go
  auth0/resource_data.go
  example/email_template/main.tf
  go.mod
  go.sum
Labels: resource/auth0_client, resource/auth0_client_grant, resource/auth0_connection, resource/auth0_custom_domain, resource/auth0_email, resource/auth0_email_template, resource/auth0_resource_server, resource/auth0_role, resource/auth0_rule, resource/auth0_rule_config, resource/auth0_tenant, resource/auth0_user

#132 Add PasswordComplexityOptions to Connection and TokenDialect to Resource Server
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_resource_server.go
Labels: stale

#146 Fix resource server signing secret
  auth0/resource_auth0_resource_server.go
  auth0/resource_auth0_resource_server_test.go
Labels: resource/auth0_resource_server

#147 Fix resource_server identifier to force new resource if updated
  auth0/resource_auth0_resource_server.go
Labels: resource/auth0_resource_server

#145 Fix update user
  .github/workflows/labeler.yml
  auth0/resource_auth0_user.go
  auth0/resource_auth0_user_test.go
Labels: resource/auth0_user

#148 Fix client is_first_party if set to zero value
  .github/labeler.yml
  auth0/provider.go
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_test.go
  auth0/resource_data.go
Labels: resource/auth0_client, resource_data

#149 Fix role and permission handling
  auth0/provider.go
  auth0/resource_auth0_role.go
  auth0/resource_auth0_role_test.go
  auth0/resource_auth0_user.go
  auth0/resource_auth0_user_test.go
  auth0/resource_data.go
  auth0/resource_data_test.go
  example/email_template/main.tf
  example/role/main.tf
  example/user/main.tf
Labels: resource/auth0_role, resource_data

#153 Add support for client secret rotation
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_test.go
Labels: resource/auth0_client

#154 Migrate to terraform-plugin-sdk package and add sweepers
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/Bug_Report.md
  GNUmakefile
  auth0/provider.go
  auth0/provider_test.go
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_grant.go
  auth0/resource_auth0_client_grant_test.go
  auth0/resource_auth0_client_test.go
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_connection_test.go
  auth0/resource_auth0_custom_domain.go
  auth0/resource_auth0_custom_domain_test.go
  auth0/resource_auth0_email.go
  auth0/resource_auth0_email_template.go
  auth0/resource_auth0_email_template_test.go
  auth0/resource_auth0_email_test.go
  auth0/resource_auth0_resource_server.go
  auth0/resource_auth0_resource_server_test.go
  auth0/resource_auth0_role.go
  auth0/resource_auth0_role_test.go
  auth0/resource_auth0_rule.go
  auth0/resource_auth0_rule_config.go
  auth0/resource_auth0_rule_config_test.go
  auth0/resource_auth0_rule_test.go
  auth0/resource_auth0_tenant.go
  auth0/resource_auth0_tenant_test.go
  auth0/resource_auth0_user.go
  auth0/resource_auth0_user_test.go
  auth0/resource_data.go
  example/user/main.tf
  go.mod
  go.sum
  main.go
  scripts/errcheck.sh
Labels: resource/auth0_client, resource/auth0_client_grant, resource/auth0_connection, resource/auth0_custom_domain, resource/auth0_email, resource/auth0_email_template, resource/auth0_resource_server, resource/auth0_role, resource/auth0_rule, resource/auth0_rule_config, resource/auth0_tenant, resource_data
