Repository alexkappa/terraform-provider-auth0, pull requests merged in 2021-11, with the labels that each got.

#458 Add auth0 organizations
  CHANGELOG.md
  auth0/internal/hash/hash.go
  auth0/internal/hash/hash_test.go
  auth0/provider.go
  auth0/resource_auth0_email_template_test.go
  auth0/resource_auth0_organization.go
  auth0/resource_auth0_organization_test.go
  auth0/resource_auth0_role.go
  auth0/resource_auth0_rule_test.go
  auth0/resource_auth0_user.go
  auth0/resource_data.go
  auth0/structure_auth0_connection.go
  docs/resources/organization.md
  go.mod
  go.sum
Labels: resource/auth0_connection, resource/auth0_email_template, resource/auth0_role, resource/auth0_rule, resource/auth0_user, resource_data, resource/auth0_organization

#425 Add the "user_invitation" email template option
  auth0/resource_auth0_email_template.go
  docs/resources/email_template.md
Labels: resource/auth0_email_template

#464 Add support for auth0_action
  CONTRIBUTING.md
  auth0/provider.go
  auth0/resource_auth0_action.go
  auth0/resource_auth0_action_test.go
  auth0/resource_auth0_branding_test.go
  auth0/resource_data.go
  docs/resources/action.md
  go.mod
  go.sum
  scripts/gendocs.go
Labels: resource_data, resource/auth0_action

#467 Flatten/expand ADFS
  auth0/structure_auth0_connection.go
  go.mod
  go.sum
Labels: resource/auth0_connection

#443 Add support for allowed_clients
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_test.go
  docs/resources/client.md
Labels: resource/auth0_client

#410 Support for verifying custom domains
  auth0/internal/digitalocean/provider.go
  auth0/internal/digitalocean/resource_digitalocean_record.go
  auth0/provider.go
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_custom_domain.go
  auth0/resource_auth0_custom_domain_test.go
  auth0/resource_auth0_custom_domain_verification.go
  auth0/resource_auth0_custom_domain_verification_test.go
  docs/resources/custom_domain_verification.html.md
  go.mod
  go.sum
Labels: resource/auth0_connection, resource/auth0_custom_domain

#473 Don't read back secrets as they are write-only
  .gitignore
  auth0/resource_auth0_action.go
  auth0/resource_auth0_action_test.go
  docs/resources/action.md
Labels: resource/auth0_action

#476 Fix action deployment
  CHANGELOG.md
  auth0/resource_auth0_action.go
  example/action/main.tf
Labels: resource/auth0_action
