Repository alexkappa/terraform-provider-auth0, pull requests merged in 2021-04, with the labels that each got.

#304 Fix connection display name
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_connection_test.go
  auth0/structure_auth0_connection.go
Labels: resource/auth0_connection

#366 Fix Connection & Prompt tests
  auth0/resource_auth0_connection_test.go
  auth0/resource_auth0_prompt_test.go
Labels: resource/auth0_connection, resource/auth0_prompt

#369 Feature/updating locale support in tenant
  auth0/resource_auth0_tenant.go
  auth0/resource_auth0_tenant_test.go
Labels: resource/auth0_tenant

#363 add auth0_client and auth0_global_client data sources and tests
  auth0/data_source_auth0_client.go
  auth0/data_source_auth0_client_test.go
  auth0/data_source_auth0_global_client.go
  auth0/data_source_auth0_global_client_test.go
  auth0/data_source_helpers.go
  auth0/provider.go
  auth0/resource_data_test.go
  docs/datasources/client.md
  docs/datasources/global_client.md
  docs/resources/global_client.md
  docs/resources/hook.md
  docs/resources/log_stream.md
Labels: resource/auth0_client, resource/auth0_global_client, resource_data

#376 Feature/adding denylist to connection resource
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_connection_test.go
  auth0/structure_auth0_connection.go
  docs/resources/connection.md
  go.mod
  go.sum
Labels: resource/auth0_connection

#378 Added the should_trust_email_verified_connection option to Azure AD c…
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_connection_test.go
  auth0/structure_auth0_connection.go
  docs/resources/connection.md
Labels: resource/auth0_connection

#379 Remove auth0_client.custom_login_page_preview
  auth0/resource_auth0_client.go
Labels: resource/auth0_client
