Repository alexkappa/terraform-provider-auth0, pull requests merged in 2021-03, with the labels that each got.

#262 Add "HookSecrets" support through "auth0_hook"
  auth0/resource_auth0_hook.go
  auth0/resource_auth0_hook_test.go
Labels: resource/auth0_hook

#331 Support the Sumo Logic log stream type
  auth0/resource_auth0_log_stream.go
  auth0/resource_auth0_log_stream_test.go
Labels: resource/auth0_log_stream

#335 Hook up 'windowslive' social connection type
  auth0/resource_auth0_connection_test.go
  auth0/structure_auth0_connection.go
  docs/resources/connection.md
Labels: resource/auth0_connection

#345 Minor fix to tenant config and documentation
  auth0/resource_auth0_tenant.go
  docs/resources/tenant.md
Labels: resource/auth0_tenant

#350 Add verify_email_by_code template
  auth0/resource_auth0_email_template.go
  docs/resources/email_template.md
Labels: resource/auth0_email_template

#312 Support hook dependencies
  auth0/resource_auth0_hook.go
  auth0/resource_auth0_hook_test.go
  docs/resources/hook.md
Labels: resource/auth0_hook

#321 Add new identifier_first field to prompt
  auth0/resource_auth0_prompt.go
  auth0/resource_auth0_prompt_test.go
Labels: resource/auth0_prompt, stale
