Repository alexkappa/terraform-provider-auth0, pull requests merged in 2021-12, with the labels that each got.

#478 Fix action secrets (attempt #2 🙈)
  auth0/resource_auth0_action.go
  example/action/main.tf
Labels: resource/auth0_action

#468 Support entity_id in samlp connection
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_connection_test.go
  auth0/structure_auth0_connection.go
  docs/resources/connection.md
Labels: resource/auth0_connection

#481 Add `auth0_trigger_binding`
  .github/labeler.yml
  CHANGELOG.md
  auth0/provider.go
  auth0/resource_auth0_trigger_binding.go
  auth0/resource_auth0_trigger_binding_test.go
  docs/resources/trigger_binding.md
Labels: resource/auth0_trigger_binding
