Repository alexkappa/terraform-provider-auth0, pull requests merged in 2022-01, with the labels that each got.

#453 Implements the native_social_login stanza on the Client API.
  CHANGELOG.md
  auth0/resource_auth0_client.go
  auth0/resource_auth0_client_test.go
  docs/resources/client.md
  scripts/gendocs.go
Labels: resource/auth0_client

#438 Fix reading auth0_branding when enable_custom_domain_in_emails is true
  CHANGELOG.md
  auth0/resource_auth0_branding.go
Labels: resource/auth0_branding

#499 add email mfa factor
  auth0/resource_auth0_guardian.go
  auth0/resource_auth0_guardian_test.go
  docs/resources/guardian.md
  example/guardian/main.tf
Labels: resource/auth0_guardian

#445 feat(log_stream): support JSONOBJECT format
  auth0/resource_auth0_log_stream.go
  auth0/resource_auth0_log_stream_test.go
  docs/resources/log_stream.md
  example/log_stream/main.tf
Labels: resource/auth0_log_stream

#417 Add support for custom sms gateway
  auth0/resource_auth0_connection.go
  auth0/resource_auth0_connection_test.go
  auth0/structure_auth0_connection.go
  docs/resources/connection.md
Labels: resource/auth0_connection

#449 Updated protocol binding to use all capitals
  auth0/resource_auth0_connection_test.go
  docs/resources/connection.md
Labels: resource/auth0_connection

#502 Fix log stream tests
  auth0/resource_auth0_log_stream_test.go
Labels: resource/auth0_log_stream

#422 Add support for google-apps connection strategy options
  auth0/resource_auth0_connection_test.go
  auth0/structure_auth0_connection.go
Labels: resource/auth0_connection
